@import url('http://cdn-images.mailchimp.com/embedcode/slim-10_7.css');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title{
  font-family: 'Architects Daughter', cursive;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
   color: white;
}


#mc_embed_signup{
  background:rgb(159, 29, 199); 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif;
 }
 .field{
  position: absolute; left: -5000px;
 }
 .response{
  display:none
 }
 .something{
  position: absolute; left: -5000px;
 }

	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
